<ng-container *ngIf="this.dougnutValue$ | async as dougnutValue">
  <ng-container *ngFor="let doug of dougnutValue">
    <app-doughnut-chart
      class="col-4"
      [doughnutData]="doug.values"
      [doughnutColors]="doug.colors"
    ></app-doughnut-chart>
  </ng-container>
</ng-container>
