<!-- <canvas #dChart></canvas> -->

<div class="doughnut-chart">
  <div class="chart-wrapper">
    <div class="chart-wrapper">
      <canvas
        baseChart
        [datasets]="datasets"
        [labels]="doughnutChartLabels"
        [options]="doughnutChartOptions"
        [type]="doughnutChartType"
        [legend]="showLegend"
        [plugins]="doughnutChartPlugins"
      >
      </canvas>
    </div>
  </div>
</div>
