canvas {
    width: 100% !important;
    height: 100% !important;
    max-width: 300px;
  }
  
//   @media screen and (max-width: 600px) {
//     canvas {
//       max-width: none;
//       margin-top: 30px;
//     }
//   }

.doughnut-chart {
display: flex;
align-items: center;
justify-content: center;
height: 100%;

.chart-wrapper{
  width: 523px;
}
}

  @media screen and (max-width: 1200px) {
   
.doughnut-chart {
  .chart-wrapper{
    width: 296px;
   }
  }
  }